:root {
  --bg-color: #fff;
  --text-color: rgb(30, 31, 33);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(32, 33, 36);
    --text-color: rgb(255, 255, 255);
  }
}

.notes {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 1rem 2rem;
  margin: auto 5rem;
}

.notes-masonry {
  display: flex;
  width: auto;
  margin-left: -1.25rem;
}

.notes-masonry_column {
  padding-left: 1.25rem;
  background-clip: padding-box;
}

.note {
  background-color: var(--bg-color);
  margin: 0.625rem 0;
  width: 20%;
  max-width: 100%;
  box-sizing: border-box;
  border: 0.7px solid #929292;
  border-radius: 8px;
  position: relative;
}

.note .title {
  color: var(--text-color);
  font-weight: bold;
  width: 100%;
  margin: 0.9375rem 0 0 0.9375rem;
}

.note .text {
  color: var(--text-color);
  width: 100%;
  margin: 0.625rem 0 0 0.9375rem;
}

.note .note-footer {
  margin-top: 0.9375rem;
  display: flex;
  padding: 0;
  justify-content: center;
}

.note-footer .material-symbols-outlined {
  color: #5f6368;
  font-size: .9rem;
}

.note .check-circle {
  color: var(--text-color);
  position: absolute;
  top: -1.25rem;
  left: -1.25rem;
}

/* Laptop Style View */
@media (max-width: 1024px) {
  .notes {
    width: 70%;
    margin: 0 10rem;

    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
  }
  
}

/* Tablet Style View */
@media (max-width: 794px) {
  .notes {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 1rem 2rem;

    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;

  }

  .note {
    width: 30%;
    max-width: 50%;
  }
}

/* Mobile Style View */
@media (max-width: 599px) {

  /* .notes-masonry {
    display: flex;
    flex-direction: column;
  } */
  .notes {
    width: 88%;
    margin: 0.5rem 0 auto 4.6rem;
  }

  .note {
    width: 100%;
    max-width: 100%;

  }
}