:root {
  --bg-color: white;
    --text-color: black;
    --hover-bg-color: #f1f3f4;
    --active-bg-color: #fef0c3;
}
@media (prefers-color-scheme: dark){
  :root {
    --bg-color: rgb(32,33,36);
    --text-color: #e8eaed;
    --hover-bg-color: #3c4043;
    --active-bg-color: rgb(65,51,28);
  }
}

.sidebar {
    position: fixed;
    left: -0.7rem;
    top: 4rem;
    z-index: 1;

    display: flex;
    flex-direction: column;
    margin-top: 0.3125rem;
    color: #5f6368;
    background-color: var(--bg-color);
    width: 4.0625rem;
    transition: "ease-in-out 1s";
    height: 100%;
    overflow-x: hidden;
}
.sidebar-shadow {
  box-shadow: 0 1px 2px 0 rgba(41, 44, 46, 0.302),
    0 2px 6px 2px rgba(9, 10, 10, 0.149);
  background: var(--bg-color);
}
.active {
    background-color: var(--active-bg-color);
    border-radius: 50%;
    color: var(--text-color);
}
.active:hover {
    background-color: var(--active-bg-color);
}

.sidebar .sidebar-item {
    padding: 0.1875rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
}

.sidebar-item .sidebar-text {
    color: var(--text-color);
    font-size: 0.9rem;
    margin-left: 1.25rem;
    width: 15.625rem;
}

.sidebar-item .material-symbols-outlined {
  margin-left: 1.125rem;
}

.sidebar-item:nth-child(1) {
    margin-top: 0.3125rem;
}

.sidebar-item:hover {
  background: var(--hover-bg-color);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.sidebar-active-item {
  background-color: var(--active-bg-color);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.sidebar-active-item:hover {
  background-color: var(--active-bg-color);
}

/* Media queries */
/* Laptop Style View */
@media (max-width: 1024px) {
  /* .sidebar {
    z-index: 1000;
  } */

}
/* Tablet Style View */
@media (max-width: 794px) {

}

/* Mobile Style View */
@media (max-width: 599px) {

    .sidebar {
      z-index: 100;
    }
}